# -----------------------------
# Node.js / General
# -----------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
.pnpm-debug.log
.env
.env.*.local

# -----------------------------
# Logs
# -----------------------------
logs
*.log
*.log.*
*.out
*.err

# -----------------------------
# Build outputs
# -----------------------------
dist/
build/
.next/
out/
expo-build/
android/app/build/
ios/build/
ios/Pods/

# -----------------------------
# Expo / React Native
# -----------------------------
.expo/
.expo-shared/
web-build/
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
expo-env.d.ts

# Gradle / Android Studio
.gradle/
local.properties
*.iml
.idea/
.DS_Store

# Xcode / iOS
*.xcworkspace
*.xcuserstate
*.xcuserdatad*
*.xccheckout
*.xcscmblueprint
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# -----------------------------
# VSCode / IDE
# -----------------------------
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# -----------------------------
# Misc
# -----------------------------
*.swp
*.swo
*.tmp
*.bak
*.lock
Thumbs.db
desktop.ini
